body {
	font-family: Helvetica, Arial, sans-serif;
	background: #fff;
	color: rgba(0,0,0, 0.7);
	font-size: 1.1em;
	line-height: 1.4em;
	max-width: 38em;
	margin: auto; 
	padding: 0 4%;
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
	color: rgba(0,0,0, 0.78);
}

/*********************************************
**********************************************
************** @MEDIA QUERIES ****************
**********************************************
**********************************************/

/* @media queries for:
- medium mobile screens */


@media (max-width: 480px) {
 body {
 	font-size: 1.10em;
	line-height: 1.4em;
	font-weight: 300;
	color: rgba(0,0,0, 0.8);
	padding: 0 3%;
 }

 nav span {
 	font-size: 0.8em;
 	line-height: 1.4em;
 }

 #home h1 {
	background-size: 250px 75px;
	height: 75px;


 h1 { font-size: 1.72em; }
 h2 { font-size: 1.42em; }
 h3 { font-size: 1.18em; }
 h4 { font-size: 1.02em; }
}

/* @media queries for:
- small mobile screens */

@media (max-width: 360px) {
 body {
 	font-size: 1.0em;
	line-height: 1.20em;
	padding: 0 2%;
	}