<head>
  {% include meta.html %}
  <title>{% if page.title == "Home" %}{{ site.title }} - {{ site.tagline }}{% else %}{{ page.title }} - {{ site.title }}{% endif %}</title>
  <!-- Google font-->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@800&display=swap" rel="stylesheet"> 
  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
</head>

<body>

<section class="content">
	<aside>
		<h1 id="logo"><a title="Andropavza" href="/">Andropavza</a></h1>
	</aside>
	<main>

<article>
  <img srcset="../assets/imgs/01-hero-img.png 1x, ../assets/imgs/01-hero-img@2x.png 2x" src="../assets/imgs/01-hero-img.png"/>
  <h2><span>Andropavza nismo le "drugopubertetniški" band. Smo stanje duha in ogledalo generacije!</span></h2>
</article>

	<!-- CONTENT goes here -->