<head>
  {% include meta.html %}
  <title>{% if page.title == "Home" %}{{ site.title }} - {{ site.tagline }}{% else %}{{ page.title }} - {{ site.title }}{% endif %}</title>
  <!-- Google font-->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@800&display=swap" rel="stylesheet"> 
  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
</head>

<body>
<h1 id="logo"><a href="/">Andropavza</a></h1>
<section class="content">